

body{
    margin: 0;
}

#notebook{
    display: flex;
}

.notebook,.input,.preview{
    height:1000px;
}

.notebook{
    background-color: bisque;
    width: 20%;
}

textarea{
    width: 98%;
    height: 100%;
    background-color: aquamarine
}

.input{
    background-color: aquamarine;
    width: 40%;
}

.preview{
    background-color: aqua;
    width:40%;
}
button{
    height: 40px;
}
.note{
    height: 30px;
    margin-bottom:1px;
    background-color: seagreen;
}
.note.selected{
    height:30px;
    background-color: springgreen;
}
